.item-detail-container {
  padding: 20px;

  p {
    font-size: 1.2em;
    color: white;
    text-align: justify;
  }

  .loading-message {
    font-size: 1.2em;
    color: #888;
    margin-top: 20px;
  }
}
