* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  font-family: 'Arial', sans-serif;
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
}

nav-header {
  background-color: #333;
  color: #fff;
  padding: 15px 0;
  text-align: center;

  h1 {
    margin: 0;
  }

  nav {
    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;

      li {
        a {
          display: block;
          padding: 15px;
          color: #fff;
          text-decoration: none;
          text-transform: capitalize;

          &.active {
            border-bottom: 2px solid #fff;
          }
        }
      }
    }
  }
}

.item-list,
.item-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .item-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    align-items: center;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    .item-image {
      width: 100%;
      height: auto;
      border-radius: 8px 8px 0 0;
    }

    .item-details {
      padding: 5px;

      h3 {
        font-size: 20px;
        margin-bottom: 7px;
        font-weight: bold;
      }

      p {
        font-size: 13px;
        color: black;
        margin-bottom: 8px;
        text-align: center;
      }

      .details-link {
        display: block;
        color: wheat;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}