.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .item {
    width: 350px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    img {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
      margin-bottom: 2px;
    }

    h3 {
      margin: 10px 0;
      font-size: 1.5em;
    }

    p {
      margin: 5px 0;
      font-size: 1.5em;
    }

    a {
      display: block;
      background-color: #474448;
      color: #fff;
      padding: 10px;
      border-radius: 8px;
      text-decoration: none;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color:rgba(0, 0, 0, 0.8);
      }
    }
  }
}